<div class= "dashboard">
    <h2>Welcome {{session.dashboard.firstName}} {{session.dashboard.lastName}}! Check out our variety of options!</h2>
    <button class = "btn btn-success">Add Package</button>
    <button class = "btn btn-success">Package List</button>
</div>