<div class="dashboard">
    <h2>Welcome {{session.user.firstName}} {{session.user.lastName}}! Check out our variety of options!</h2>
    <button class = "btn btn-success">Meal Packages</button>
    <button class = "btn btn-success">Our Top Picks</button>
    <a href= "/logout" class = "btn btn-success">Logout</a>
</div>